{% extends "base.html" %}

{% block body %}
{{ block.super }}

<header>
    <nav>
        <img src="/static/images/headphones.png" alt="headphones">
        <a href="/">Home</a><ul></ul>
        <ul>
            <!--Only for user with created profile-->
            <li><a href="album/add/">Create Album</a></li>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
        </ul>
    </nav>
</header>

<!--Create Page-->
<section class="createPage">

    <form method="POST">
        <fieldset>
            <legend>Add Album</legend>
                {% csrf_token %}
                {{ form }}
                <!-- Button for Adding Album -->
                <button class="add-album" type="submit">Add New Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}
