{% extends 'base.html' %}
<!--Details Page-->
{% block body %}
{{ block.super }}

<header>
    <nav>
        <img src="/static/images/headphones.png" alt="headphones">
        <a href="/">Home</a><ul></ul>
        <ul>
            <!--Only for user with created profile-->
            <li><a href="{% url 'add_album' %}">Create Album</a></li>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
        </ul>
    </nav>
</header>

<section id="detailsPage">
    <div class="wrapper">

        <div class="albumCover">
            <!-- Album Image -->
            <img src="" alt="Cover Image">
        </div>

        <div class="albumInfo">

            <div class="albumText">
                <!-- Album Info -->
                <h1>Name: {{ album.album_name }}</h1>
                <h3>Artist: {{ album.artist }}</h3>
                <h4>Genre: {{ album.genre }}</h4>
                <h4>Price: {{ album.price }}</h4>
                {% if album.description %}
                <p>Description: {{ album.description }}</p>
                {% endif %}
            </div>

            <div class="actionBtn">
                <!-- Album Buttons -->
                <a href="{% url 'edit_album' id=album.id %}" class="edit">Edit</a>
                <a href="{% url 'delete_album' id=album.id %}" class="remove">Delete</a>
            </div>

        </div>
    </div>
</section>
{% endblock %}