{% extends 'base.html' %}

{% block body %}
{{ block.super }}

<header>
    <nav>
        <img src="/static/images/headphones.png" alt="headphones">
        <a href="/">Home</a><ul></ul>
        <ul>
            <!--Only for user with created profile-->
            <li><a href="{% url 'add_album' %}">Create Album</a></li>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
        </ul>
    </nav>
</header>

<!--Edit Page-->
<section class="editPage">
    <form method="POST">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">
                
                {% csrf_token %}
                {{ form }}

                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
    <!-- <script defer="True">
        // Disable form fields on page load
        window.onload = function() {
          const form = document.querySelectorAll('input');
          for (const field of form) {
            field.disabled = true;
          }
        };
    </script> -->
</section>
{% endblock %}
