{% extends 'base.html' %}

{% block body %}
{{ block.super }}

<header>
    <nav>
        <img src="/static/images/headphones.png" alt="headphones">
        <a href="/">Home</a><ul></ul>
        <ul>
            <!--Only for user with created profile-->
            <li><a href="{% url 'add_album' %}">Create Album</a></li>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
        </ul>
    </nav>
</header>

<!--Edit Page-->
<section class="editPage">
    <form method="POST">
        <fieldset>
            <legend>Edit Album</legend>
            <div class="container">
                {% csrf_token %}
                {{ form }}
                <!-- Button for Editing Album -->
                <button class="edit-album" type="submit">Edit Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}