{% extends 'base.html' %}

{% block body %}
{{ block.super }}

<header>
    <nav>
        <img src="/static/images/headphones.png" alt="headphones">
        <a href="/">Home</a><ul></ul>
        <ul>
            <!--Only for user with created profile-->
            <li><a href="{% url 'add_album' %}">Create Album</a></li>
            <li><a href="{% url 'profile_details' %}">Profile</a></li>
        </ul>
    </nav>
</header>


<!-- Catalog with Albums-->
<section id="catalogPage">

    <!--  If No albums in catalog -->
    {% if not albums %}
    <p>No Albums in Catalog!</p>
    {% else %}
    <!-- If albums in catalog -->
    <h1>All Albums</h1>
    <!-- First Card-Box in catalog -->
    {% for album in albums %}
    <div class="card-box">
        <img src="/static/images/BrandiCarlile.png" alt="Cover Image">
        <div>
            <div class="text-center">
                <p class="name">Name: {{ album.album_name }}</p>
                <p class="artist">Artist: {{ album.artist }}</p>
                <p class="genre">Genre: {{ album.genre }}</p>
                <p class="price">Price: {{ album.price|floatformat:2}}</p>
            </div>
            <div class="btn-group">
                <a href="{% url 'details_album' id=album.id %}">Details</a>
            </div>
        </div>
    </div>
    <!-- End First Card-Box in catalog -->
    {% endfor %}
    {% endif %}
</section>
{% endblock %}
